/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
/* 1rem = 16px (default font size) */

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/* margin vs padding */
/* margin is best used when creating space between elements */
/* padding is best used when creating space between element's border and its content */

nav .nav-logo, nav .nav {
	margin: 0.5rem;
	/* Change elements to inline elements */
	display: inline;
}

#intro {
	/*	Creates space between the contents of the intro section and its border */

	/* Ginagamit kabuuan ng website if using %	*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;

}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 1rem;

}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* Allows the cards to appear beside each other */

	display: inline-block;
	/* Aligns elements with the tallest element in line */

	/* Used with the inline-block value */

	vertical-align: top;

	/* Allows for cards to have equal height that adjusts withthe content */
	min-height: 175px;
	width: 30%;

	/* Create horizontal spacing between cards */
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding-left: 1rem;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer div {
	/* Allows the cards to appear beside each other */

	display: table-cell;
	/* Aligns elements with the tallest element in line */

	/* Used with the inline-block value */

	vertical-align: bottom;

	/* Allows for cards to have equal height that adjusts with the content */
	min-height: 150px;
	width: 20%;


}

footer {
	margin: 0.8rem;
}